{% extends 'samplexray/base.html' %}
{% block content %}
<head>
  <a class="btn btn-primary" href="{% url 'samplexray:logout' %}">Logout</a>
  <a class="btn btn-primary" href="{% url 'samplexray:upload' user.id %}">Upload</a>
  <h1>Your profile</h1>
  <h3>Welcome back ! {{ user.username }}</h3><br>
  <h2>Your Recent XRays</h2>
    <table>
      <col span = "4"/>
      <ul>
        {% for xray in pastxrays %}
          <tr>
            <td><li><img src="{{ xray.image.url }}" class = "img-responsive" width = 200px></td> 
            <td>{{ xray.title }}</td>
            <td>{{xray.cool}}, {{xray.fist}}, {{xray.ok}}, {{xray.stop}}, {{xray.yo}}</td>
            <td>Report Date : {{ xray.date_posted.date }}</td></li>
          </tr>
        {% endfor %}
      </ul>
    </table>
</head>
{% endblock %}
