{% extends 'samplexray/base.html' %}
{% block content %}
<style>
  p {
    font-family: "Open Sans";
    font-size: 18px;
    text-align: center;
    display: block;
  }
</style>
<head>
    <meta charset="UTF-8">
    <title>Submit XRay Image</title>
</head>
<body>
  <a class='btn btn-primary' href="{% url 'samplexray:login' %}">Login</a>
  <a class='btn btn-primary' href="{% url 'samplexray:signup' %}">SignUp</a>
  <h1>Submit XRay Image</h1>
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <center><input type="submit" value="Get Prediction"></center>
    </form>
</body>
{% endblock %}